<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kevin Portfolio</title>
<%- include('partials/header') %>
</head>
<body>
    <!-- Header / Navigation -->
    <header class="header">
        <div class="logo">
            <img src="/images/myphoto.png" alt="Photo of Kevin" width="50"/>
        </div>
        <nav class="nav">
            <ul class="clearfix">
                <li class="element"><a href="index.html">Home</a></li>
                <li class="element"><a href="about.html">About</a></li>
                <li class="element"><a href="projects.html">Projects</a></li>
                <li class="element"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- About Section -->
    <section id="about">
        <h1>Who I Am</h1>
        <img src="/images/myphoto.png" alt="Photo of Kevin" width="300" />

    <!-- Intro Text-->
        <p id="first">My name is Kevin, I am a second year student studying at university, I have been coding since the 3rd grade using scratch JR.</p>
        <p class="second">I have always been fascinated by how computers work and how they can be used, this brought me to the field of networking and now I'm currently pursuing a degree in Networking Manegement and IT Security.</p>

    <!-- Video -->
    <video controls width="400">
    <source src="/images/websitevideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>      


</body>
<%- include('partials/footer') %>
</html>