<%- include('partials/header'); %>

<%- include('partials/main_nav'); %>
    <!-- About Section -->
    <section id="about" class = "container mt-4">
        <h1>Who I Am</h1>
        <img src="/images/myphoto.png" alt="Photo of Kevin" width="300" />

    <!-- Intro Text-->
        <p id="first">My name is Kevin, I am a second year student studying at university, I have been coding since the 3rd grade using scratch JR.</p>
        <p class="second">I have always been fascinated by how computers work and how they can be used, this brought me to the field of networking and now I'm currently pursuing a degree in Networking Manegement and IT Security.</p>

    <!-- Video -->
    <video controls width="400" class="mt-3">
    <source src="/images/websitevideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>      


<%- include('partials/footer'); %>
