<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Kevin} Portfolio - Home</title>
<%- include('partials/header') %>

</head>
<body>
    <!-- Header / Navigation -->
    <header class="header">
        <div class="logo">
                <img src="images/myphoto.png" alt="Photo of Kevin" width="50">

        </div>
        <nav class="nav">
            <ul class="clearfix">
                <li class="element"><a href="index.html">Home</a></li>
                <li class="element"><a href="about.html">About</a></li>
                <li class="element"><a href="projects.html">Projects</a></li>
                <li class="element"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Home Section -->
    <section id="contact.html">
        <h2>Contact Me ! </h2>
        <form>
            <label for="name">Name:</label><br>
            <input type = "text" id="name" name ="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email"  name="email" required><br><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone" required></form>Have a Nice Day!<br><br>

            <form><button type="submit">Submit</button></form>
</section>
</body>
<%- include('partials/footer') %>
</html>