<%- include('partials/header') %>

<%- include('partials/main_nav'); %>
    <!-- Home Section -->
<section id="home" class="container mt-4 text-center">

    <img src="/images/myphoto.png" alt="Photo of Kevin" class="img-fluid rounded-circle" style="width: 200px;"/>

        <h1 class="mt-3">Welcome to My Portfolio</h1>
        <p>Hello!!!!  My name is Kevin and welcome to my portfolio website, you will find some information about me, the projects I have worked on and my contact info if you find something that catches your eye</p>
    </section>

<%- include('partials/footer') %>
