<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and responsive settings -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Haider Raza</title>

</head>
<body>
    <!-- Site header with navigation -->
    <header class="site-header gradient-hero">
        <div class="container">
            <%- include('partials/header') %>
            <%- include('partials/main_nav') %>
        </div>
    </header>

    <!-- Main Conent -->
    <main id="main" class="container">
        <!-- Intro section -->
        <section>
            <h2>Welcome</h2>
            <p>Hi! I'm <strong>Haider Raza</strong>, a student in Networking and IT Security at Ontario Tech University. This portfolio showcases my experiences and work.</p>
        </section>
    
        <!-- Highlighting one of the project as a quick teaser-->
        <article class="card angle-gradient">
            <h3>Project 2: Movie Ticket Booking System (Python, GUI)</h3>
            <p>See more on the <a href="projects">Projects</a> page.</p>
        </article>
    </main>
</body>
    <%- include('partials/footer') %>
</html>
