

<%- include('partials/header') %>

<%- include('partials/main_nav'); %>
    

    
    <!-- Projects Section -->
                 
    <!-- Example Project -->

    <section id="projects" class="container mt-4">
        <h2>My Projects</h2>

        <div class="card text-light my-3">
            <div class="card-body">
                <h5 class="card-title">Auto Sorting Algo1</h5>
                <p class="card-text">A python script that sorts an array of numbers from smallest to largest.</p>
            </div>
        </div>  
            <!-- Example Project -->
        <div class="card text-light my-3">
            <div class="card-body">
                <h5 class="card-title">Data Base 1</h5>
                <p class="card-text">A group project where we have built a data base to support a website.</p>
            </div>
        </div>  


            <!-- Example Project -->
        <div class="card text-light my-3">
            <div class="card-body">
                <h5 class="card-title">Interactive Website 3</h5>
                <p class="card-text">A interactive website that shows the OSINT Framework.</p>
            </div>
        </div>  
            <!-- Example Project -->
        <div class="card text-light my-3">
            <div class="card-body">
                <h5 class="card-title">Custom Image generator 4</h5>
                <p class="card-text">A image generator that was based on an open source AI using stable Defussion.</p>
            </div>
        </div>

    </section>

<%- include('partials/footer') %>